.box {
    appearance: none;
    flex: none;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    cursor: pointer;
    background: var(--surface);
    border: 2px solid var(--border-strong);
    border-radius: var(--radius-sm);
    transition: all var(--duration) var(--ease);
    display: inline-grid;
    place-content: center;

    &::before {
        content: '';
        width: 0.75rem;
        height: 0.75rem;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--surface);
    }

    &[data-status='partial'] {
        border-color: var(--status-partial);
        background-color: var(--status-partial);

        &::before {
            transform: scale(1);
            /* horizontal line for partial */
            clip-path: polygon(10% 40%, 90% 40%, 90% 60%, 10% 60%);
        }
    }

    &[data-status='all'] {
        border-color: var(--status-all);
        background-color: var(--status-all);

        &::before {
            transform: scale(1);
            /* checkmark */
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &[aria-busy='true'] {
        cursor: progress;
        opacity: 0.7;
    }
}
